<div>
  <nav class="row">
    <ul class="nav justify-content-center d-flex align-items-center">
        <li class="nav-item col d-flex justify-content-center">
          <a class="nav-link active" aria-current="page" href="#biografia">BIOGRAFIA DE MESSI</a>
        </li>
        <li class="nav-item col d-flex justify-content-center">
          <a class="nav-link" href="#goles">GOLES Y ESTADISITICAR</a>
        </li>
        <li class="nav-item col d-flex justify-content-center">
          <a class="nav-link" href="#titulos">TÍTULOS CONQUISTADOS</a>
        </li>
        <li class="nav-item col d-flex justify-content-center">
          <a class="nav-link" href="#premios">PRINCIPALES PREMIOS Y RÉCORDS INDIVIDUALES</a>
        </li>
      </ul>
 </nav>
 <main class="container">
    <section id="biografia">
        <div>
            <h3>Biografía de Lionel Messi</h3>
                <p class="text" style="text-align: justify;">Lionel Andrés Messi (alias Leo, Lio, La Pulga, La Pulga Atómica, El Mesías) nació el 24 de junio de 1987 en la ciudad argentina de Rosario. Se crió junto a tres hermanos en un barrio obrero llamado General Las Heras. A los 5 años de edad, empezó a jugar en el Grandoli, un pequeño club de barrio en el que su familia estaba muy involucrada. Al cumplir 8, Leo ya estaba jugando para las categorías inferiores de Newell’s Old Boys, un importante club profesional de Rosario.

                    Visiblemente más chico que la mayoría de los niños de su edad, a Lionel Messi le terminaron por diagnosticar una deficiencia de la hormona de crecimiento. Su padre acudió sin éxito a distintos clubs de fútbol de Argentina buscando que le financiaran el costoso tratamiento, lo que casi hizo peligrar la promisoria carrera que vislumbraba para Leo.
                    
                    Lionel Messi Biografia Barcelona 2005 Lionel Messi Barca 2005En el 2000, a los 13 años, Lionel Messi firmó con el Fútbol Club Barcelona y se mudó con su familia a España, ya que el club catalán aceptó hacerse cargo de los tratamientos con hormonas como parte del contrato. Tras progresar rápidamente por la academia juvenil del Barcelona, «La Masia», Leo hizo su debut en la temporada 2004-05, a los 17 años. El Barça resultó ganador de La Liga en esa temporada, y en la siguiente conquistó el doble título de campeón de La Liga y de la Champions League de la UEFA. El primer gran éxito de Messi vino en la temporada 2008-09, en la que ayudó al Barcelona a conquistar el primer triplete del fútbol español, incluyendo la Copa del Rey, La Liga y la Champions.
                    
                    En los años siguientes, Lionel Messi siguió rompiendo récord tras récord a la vez que se iba perfilando como el mejor jugador del Barcelona y del mundo en general. La mejor campaña individual de Messi a la fecha en términos estadísticos fue la temporada 2011-12, en la que batió los récords españoles y europeos de más goles marcados en una única temporada, además de haberse convertido en el máximo goleador del Barça en competiciones oficiales. Tras cada partido, el crack zurdo argentino demostraba ser lo suficientemente versátil como para jugar en cualquier posición de la línea delantera e hipnotizar a los defensores con una mezcla de destreza y velocidad.
                    
                    Lionel Messi Biografia Balon de Oro 2012 FIFALa excelencia en campo de Lionel Messi ha sido aplaudida en todo el mundo a través de numerosos premios, honores y reconocimientos. Junto con el crack portugués Cristiano Ronaldo, fueron los únicos ganadores del prestigioso premio Balón de Oro en el período del 2008 al 2016, Leo llevando la delantera con cinco galardones en total. También ha recibido más de 40 reconocimientos como jugador del año, goleador máximo y jugador con más asistencias, además de una gran cantidad de récords mundiales.
                    
                    En el ámbito internacional, Lionel Messi eligió representar a su país natal, Argentina, en vez de España, pese a su doble nacionalidad. Leo debutó en la selección mayor argentina en 2004 y es el capitán del equipo desde 2011. Entre los títulos ganados, se incluyen el Mundial Sub-20 de la FIFA en 2005 y la Medalla de Oro Olímpica en 2008. En junio del 2016, Leo se convirtió en el máximo goleador de la selección argentina de todos los tiempos al superar la marca anterior de 54 goles de Gabriel Batistuta.
                    
                    Lionel Messi Biografia Argentina 2016Si bien Argentina tiene uno de los mejores equipos de fútbol del mundo, el seleccionado no ha podido conquistar un título internacional importante desde que se sumó Lionel Messi. De hecho, con él la albiceleste resultó ser subcampeona en cuatro ocasiones: en la Copa América  2007, en la Copa del Mundo 2014, en la Copa América 2015 y en la Copa América Centenario 2016. Tras esta última derrota, un Messi visiblemente frustrado anunció su retiro del fútbol internacional, pero revirtió su decisión dos meses después en respuesta a las desbordantes demostraciones de apoyo provenientes de toda la Argentina. De todos modos, por la falta de títulos con la selección Leo también tiene bastantes detractores en su país natal.
                    
                    Fuera de las canchas, Lionel Messi está muy involucrado en actividades solidarias destinadas a niños vulnerables, en parte como respuesta a las dificultades médicas de su propia infancia. Además de colaborar con la UNICEF con fondos y personalmente como embajador de buena voluntad, también dirige la Fundación Leo Messi, que apoya a niños en temas de salud, educación y deportes.
                    
                    Lionel Messi está casado con la también rosarina Antonela Roccuzzo. Ambos se conocen desde que Leo tenía cinco años, pero recién empezaron a salir en 2008. Desde entonces, la pareja tuvo tres hijos: Thiago (2012), Mateo (2015) y Ciro (2018).</p>                
        </div>
    </section>
    <section id="goles">
        <h2>GOLES Y ESTADISITICAS</h2>
        <table border="1" class="table table-striped">
            <tr>
                <td>
                    Argentina (2005-2018)
                </td>
                <td>
                    128 partidos
                </td>
                <td>
                    65 goles
                </td>
            </tr>
            <tr>
                <td>
                    Argentina Sub 23 (2008)
                </td>
                <td>
                    5 partidos
                </td>
                <td>
                    2 goles
                </td>
            </tr>
            <tr>
                <td>
                    Argentina Sub 20 (2004-2005)
                </td>
                <td>
                    18 partidos
                </td>
                <td>
                    14 goles
                </td>
            </tr>
            <tr>
                <td>
                    FC Barcelona (España, 2004-2018)
                </td>
                <td>
                    418 partidos
                </td>
                <td>
                    383 goles
                </td>
            </tr>
            <tr>
                <td>
                    FC Barcelona B (España, 2004-2005) 
                </td>
                <td>
                    22 partidos
                </td>
                <td>
                    6 goles
                </td>
            </tr>
            <tr>
                <td>
                    FC Barcelona C (España, 2003-2004)
                </td>
                <td>
                    10 partidos
                </td>
                <td>
                    5 goles
                </td>
            </tr>
            <tr>
                <td>
                    TOTAL:
                </td>
                <td class="bolder">
                    601 partidos
                </td>
                <td class="bolder">
                    475 goles
                </td>
            </tr>
        </table>
    </section>
    <section id="titulos">
        <h2>TITULOS CONQUISTADOS</h2>
        <table border="1" class="table table-info table-striped-columns">
            <tr>
                <td class="fw-bold" >2005</td>
                <td><ul style=""><li>La Liga (FC Barcelona)</li>
                    <li> Supercopa de España (FC Barcelona)</li>
                    <li>Copa del Mundo Sub-20 (Argentina)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2006</td>
                <td><ul style=""><li>La Liga (FC Barcelona)
                    
                    </li>
                    <li>Champions League (FC Barcelona)</li>
                    <li>Supercopa de España (FC Barcelona)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2008</td>
                <td><ul style=""><li>Medalla de oro olímpica (Argentina)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2009</td>
                <td><ul style=""><li>La Liga (FC Barcelona)
                  </li>
                    <li> Copa del Rey (FC Barcelona)</li>
                    <li>Champions League (FC Barcelona)</li>
                    <li> Supercopa de España (FC Barcelona)</li>
                    <li>Supercopa de Europa (FC Barcelona)</li>
                    <li>  Mundial de Clubes (FC Barcelona)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2005</td>
                <td><ul style=""><li>La Liga (FC Barcelona)</li>
                    <li> Supercopa de España (FC Barcelona)</li>
                    <li>Copa del Mundo Sub-20 (Argentina)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2010</td>
                <td><ul style=""><li>La Liga (FC Barcelona)
                   </li>
                    <li>  Supercopa de España (FC Barcelona)</li>
                   
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2011</td>
                <td><ul style=""><li>La Liga (FC Barcelona)
                   
                    
                   
                    Mundial de Clubes (FC Barcelona)</li>
                    <li>  Champions League (FC Barcelona)</li>
                    <li>Supercopa de España (FC Barcelona)</li>
                    <li> Supercopa de Europa (FC Barcelona)</li>
                    <li>Supercopa de España (FC Barcelona)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2012</td>
                <td><ul style=""><li>Copa del Rey (FC Barcelona)</li>
                    
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2013</td>
                <td><ul style=""><li>La Liga (FC Barcelona)
                   </li>
                    <li> Supercopa de España (FC Barcelona)</li>
                  
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2015</td>
                <td><ul style=""><li>La Liga (FC Barcelona)
                    
                    
                   
                    </li>
                    <li> Champions League (FC Barcelona)</li>
                    <li>Champions League (FC Barcelona)</li>
                    <li> Supercopa de Europa (FC Barcelona)</li>
                    <li>Mundial de Clubes (FC Barcelona)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2016</td>
                <td><ul style=""><li>La Liga (FC Barcelona)</li>
                    <li> Copa del Rey (FC Barcelona)</li>
                    <li>Copa del Mundo Sub-20 (Argentina)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2017</td>
                <td><ul style=""><li>Copa del Rey (FC Barcelona)</li>
                    
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold" >2018</td>
                <td><ul style=""><li>La Liga (FC Barcelona)</li>
                    <li> Copa del Rey (FC Barcelona)</li>
                </ul></td>
            </tr>
        </table>
    </section>
    <section id="premios">
        <h2>PREMIOS Y RECORDS INDIVIDUALES</h2>
        <table border="1" class="">
            <tr>
                <td class="fw-bold">Goleador</td>
                <td><ul>
                    <li>Goleador máximo de la selección argentina (desde 2016)                         
                        </li>
                    <li> Goleador máximo del FC Barcelona (desde 2012)</li>
                    <li>Goleador de la Champions League (2009/10/11/12/15)</li>
                    <li>Goleador de La Liga (2010/12/13/17/18)</li>
                    <li> Goleador de la Copa del Rey (2009/11/14/16/17)</li>
                    <li>Récord Guiness de mayor goleador para un club y país en un año calendario (91 goles, 2012)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold">Mejor jugador</td>
                <td><ul>
                    <li>Balón de Oro * (2009 – France Footbal, 2010/11/12/15 – FIFA)
                    </li>
                    <li> Balón de Oro en la Copa del Mundo de Brasil (2014 – FIFA)</li>
                    <li>Mejor Jugador del Año (2009 – FIFA)</li>
                    <li>Bota de Oro (2010/12/13/17/18 – Medios deportivos europeos)</li>
                    <li>Golden Boy (2005 – Medios deportivos europeos)</li>
                    <li>Mejor Jugador en Europa (2011/15 – UEFA)</li>
                    <li>Mejor Jugador en España (2009/10/11/12/13/15 – La Liga)</li>
                </ul></td>
            </tr>
            <tr>
                <td class="fw-bold">Otros</td>
                <td><ul>
                    <li>Dream team de la Copa del Mundo de Brasil (2014 – FIFA)
                      </li>
                    <li>  Dream team de la Copa América (2007/11/15/16 – CONMEBOL)</li>
                    <li>Gol de la Temporada (2007/15/16 – UEFA)</li>
                    <li>Mejor Gol de la Copa América (2007 – CONMEBOL)</li>
                    <li>Embajador de Buena Voluntad de la UNICEF (desde 2010 – ONU)</li>
                    
                </ul></td>
            </tr>
            
        </table>
    </section>
    <section class="popup">
        ¿Deseas recibir más informacion sobre nuestro blog? 
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
REGISTRATE AQUI!
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Formulario de registro</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form>
        <table>
            <tr>
                <td>Nombre</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Correo electronico</td>
                <td><input type="email"></td>
            </tr>
            <tr>
                <td>Fecha de nacimiento: </td>
                <td><input type="date"></td>
            </tr>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
   